/**
 * Blocks core
 */

/*** Responsive fixes for variables ***/
@include mediaMaxWidth( $mobileBreakpoint ){
	body {
		// --wp--preset--font-size--x-small: 0.875rem;
		// --wp--preset--font-size--small: 1rem;
		// --wp--preset--font-size--medium: 1.125rem;
		// --wp--preset--font-size--large: 1.375rem;
		// --wp--preset--font-size--x-large: 1.5625rem;
		// --wp--preset--font-size--xx-large: 2.1875rem;
		// --wp--preset--font-size--huge: 3.125rem;
		// --wp--preset--font-size--giant: 3.125rem;
		// --wp--preset--font-size--mega: 3.125rem;
	}
}


/*** Basics ***/
// Typography
p {
	margin-block-start: 0;
	margin-block-end: $layout_blockGap;

	&:last-child {
		margin-block-end: 0;
	}
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-block-start: $layout_blockGap;
	margin-block-end: $layout_blockGap;

	&:first-child {
		margin-block-start: 0;
	}
	&:last-child {
		margin-block-end: 0;
	}
}
a {
	transition: all .2s;

	&.builtin {
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}


// Image
img {
	display: block;
	max-width: 100%;
	height: auto;

	&.alignleft {
		float: left;
		margin: 0 $layout_blockGap $layout_blockGap 0;
		max-width: calc( #{$layout_content} / 2 );
	}
	&.alignright {
		float: right;
		margin: 0 0 $layout_blockGap $layout_blockGap;
		max-width: calc( #{$layout_content} / 2 );
	}
	&.aligncenter {
		margin-left: auto;
		margin-right: auto;
	}
	&.emoji {
		max-width: 1rem;
		display: inline-block;
	}
}
figure.wp-caption {
	max-width: 100%;
}


/*** Accessible Colors ***/
.has-background {
	color: $black;
}
.has-primary-background-color,
.has-secondary-background-color,
.has-tertiary-background-color,
.has-foreground-background-color {
	color: $white;
}