/**
 * Buttons 
 */

%btn {
	border: 1px solid;
	border-radius: $borderRadius_small;
	cursor: pointer;
	display: inline-block;
	font-family: $fontFamily_primary;
	font-size: $fontSize_small;
	font-style: normal;
	font-weight: 400;
	line-height: 1.2;
	padding: 0.5rem 1rem;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: background .2s, border-color .2s, color .2s;

	&[disabled],
	&.disabled {
		box-shadow: none !important;
		color: $dark_gray !important;
		cursor: not-allowed;
		outline: none !important;
		text-decoration: none !important;
	}

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}


.button,
.button--fill,
.button--outline {
	@extend %btn;
}

// Fill
.button--fill {
	background: $black;
	border-color: $black;
	color: $white;

	&:hover,
	&:focus {
		background: transparent;
		border-color: $black;
		color: $black;
	}
}

// Outline
.button--outline {
	background: transparent;
	border-color: $black;
	color: $black;

	&:hover,
	&:focus {
		background: transparent;
		border-color: $black;
		color: $black;
	}
}