/**
 * Template / 404
 */

.page-404 {
	padding-bottom: $defaultPage_paddingBottom;
	padding-top: $defaultPage_paddingTop;

	&__header {
		margin: 0 0 rem(40);
	}
	&__title {
		margin: 0;
		text-align: center;

		&::after {
			border-bottom: 2px solid $dark_gray;
			content: '';
			display: block;
			margin: rem(14) auto 0;
			max-width: rem(180);
			width: 100%;
		}
	}
	&__content {
		text-align: center;
	}
}