/**
 * Default template
 */

.default-page {
	padding-bottom: $defaultPage_paddingBottom;
	padding-top: $defaultPage_paddingTop;

	&__header {
		margin-bottom: rem(60);
	}
	&__title {
		border-bottom: 1px solid $dark_gray;
		padding-bottom: rem(15);
	}
}