/**
 * Default template
 */

.default-page {
	padding-bottom: $defaultPage_paddingBottom;
	padding-top: $defaultPage_paddingTop;

	&__header {
		margin-bottom: 60px;
	}
	&__title {
		border-bottom: 1px solid $dark_gray;
		padding-bottom: 15px;
	}
}