/**
 * Breadcrumbs 
 */

.breadcrumbs {
	$c: &;

	display: flex;
	flex-flow: row wrap;

	a,
	&__delimiter,
	&__current,
	&__paged {
		color: $medium_gray;
		text-decoration: none;
	}
	a {
		&:hover {
			color: $black;
			text-decoration: underline;
		}
	}
	&__delimiter {
		display: inline-block;
		margin: 0 rem(10);

		@include mediaMaxWidth( md ){
			margin: 0 rem(5);
		}
	}
	&__current {
		font-weight: 700;
	}
	br {
		display: none !important;
	}

	&--align-center {
		text-align: center;
	}
	&--align-left {
		text-align: left;
	}
	&--align-right {
		text-align: right;
	}
	
	body:not(.wp-admin) & {
		&#{$c}--home-hide {
			#{$c}__home,
			#{$c}__delimiter:first-of-type {
				display: none !important;
			}
		}
	}
	.wp-block & {}
}