/**
 * Forms and fields
 */


/*** Fields ***/
.input,
[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea,
select {
	background-color: $white;
	border: 1px solid $medium_gray;
	border-radius: 0;
	color: $black;
	display: block;
	font-family: $fontFamily_primary;
	font-size: $fontSize_small;
	font-weight: 400;
	line-height: 1.25;
	outline: none;
	padding: rem(12) $layout_padding;
	transition: background .2s, border .2s, box-shadow .2s, color .2s;
	width: 100%;

	@include placeholder {
		color: $dark_gray;
	}

	&[multiple] {
		height: auto;
	}
	&[disabled], &.disabled {
		border-bottom-color: $medium_gray;
		cursor: default;
		pointer-events: none;
	}

	&:hover,
	&:focus {
		box-shadow: 0 0 rem(5) 0 rgba(0, 0, 0, 0.25);
	}
	&:focus-visible {
		outline: 2px solid $black;
		outline-offset: 1px;
	}
}
select {
	appearance: none;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='"+ encodecolor($dark_gray) +"' viewBox='0 0 492 492'%3E%3Cpath d='m484.13 124.99-16.11-16.23a26.72 26.72 0 0 0-19.04-7.86c-7.2 0-13.96 2.79-19.03 7.86L246.1 292.6 62.06 108.55c-5.07-5.06-11.82-7.85-19.03-7.85s-13.97 2.79-19.04 7.85L7.87 124.68a26.94 26.94 0 0 0 0 38.06l219.14 219.93c5.06 5.06 11.81 8.63 19.08 8.63h.09c7.2 0 13.96-3.57 19.02-8.63l218.93-219.33A27.18 27.18 0 0 0 492 144.1c0-7.2-2.8-14.06-7.87-19.12z'/%3E%3C/svg%3E");
	background-position: calc(100% - #{rem(10)}) calc(50% + #{rem(2)});
	background-repeat: no-repeat;
	background-size: rem(15) rem(15);
	height: auto;
	padding-right: rem(30);

	&::-ms-expand {
		display: none;
	}
	&[multiple] {
		background-image: none;
	}
}
textarea {
	height: rem(170);
	resize: none;

	&[rows] {
		height: rem(170);
	}
}


/*** Form ***/
 .form {
	border: none;
	margin: 0;
	padding: 0;
	position: relative;

	a {
		color: $red;
		text-decoration: underline;
		transition: color .2s;

		&:hover,
		&:focus {
			text-decoration: none;
		}
		&:focus-visible {
			outline: 2px solid $black;
			outline-offset: 1px;
		}
	}
	&__title {
		display: block;
		font-size: $fontSize_large;
		font-weight: 700;
		line-height: 1.2;
		margin: 0 0 $layout_blockGap;
		text-align: center;
		width: 100%;
	}
	&__row {
		display: flex;
		flex-flow: row wrap;
		gap: 0 $layout_blockGap;
	}
	&__field {
		flex: 1 0 calc(50% - #{$layout_padding});
		margin: 0 0 calc(#{$layout_padding} * 3);
		max-width: 100%;
		position: relative;

		@include mediaMaxWidth( md ){
			margin: 0 0 calc(#{$layout_padding} * 2);
		}
		@include mediaMaxWidth( sm ){
			flex: 0 0 100%;
		}

		br {
			display: none !important;
		}

		&--submit {
			margin: 0;
			position: static;
		}
	}
	&__label {
		display: block;
		font-size: $fontSize_xsmall;
		font-weight: 500;
		margin: 0 0 rem(6);
		letter-spacing: 0.2em;
		line-height: 1.2;
		text-transform: uppercase;
	}
	// &__file {
	//     $file: &;
		
	//     bottom: 0;
	//     cursor: pointer;
	//     left: 0;
	//     opacity: 0;
	//     position: absolute;
	//     right: 0;
	//     top: 0;
	//     width: 100%;
	//     z-index: 5;

	//     &,
	//     &-input,
	//     &-button {
	//         pointer-events: none;
	//     }
	//     &-wrap {
	//         cursor: pointer;
	//         display: flex;
	//         flex-flow: row nowrap;
	//         position: relative;

	//         @include mediaMaxWidth( xs ){
	//             flex-flow: row wrap;
	//         }

	//         &:hover,
	//         &:focus {
	//             #{$file}-button {
	//                     background-color: lighten($focus, 5.75);
	//                     color: $white;
	//             }
	//         }
	//         &:focus {
	//             #{$file}-button {
	//                     outline: 4px solid $focus;
	//             }
	//         }
	//         &:active {
	//             #{$file}-button {
	//                 @include mediaMinWidth( $mobileBreakpoint ){
	//                     &::after {
	//                         height: rem(116);
	//                         opacity: 1;
	//                         width: rem(116);
	//                     }
	//                 }
	//             }
	//         }
	//     }
	//     &-input,
	//     &-button {
	//         @include mediaMinWidth( xs ){
	//             flex: 0 0 calc(50% - #{$layout_padding});
	//             width: calc(50% - #{$layout_padding});
	//         }
	//         @include mediaMaxWidth( xs ){
	//             flex: 0 0 100%;
	//             width: 100%;
	//         }
	//     }
	//     &-input {
	//         overflow: hidden;
	//         text-overflow: ellipsis;
	//         white-space: nowrap;

	//         @include mediaMinWidth( xs ){
	//             margin-right: $layout_padding*2;
	//         }
	//         @include mediaMaxWidth( xs ){
	//             margin: 0 0 rem(20);
	//         }
	//     }
	//     &-button {
	//         min-width: 0;
	//     }

	//     &:focus ~ &-button {
	//             background-color: lighten($focus, 5.75);
	//             color: $white;
	//             outline: 4px solid $focus;
	//     }
	// }
}

/**
 * Contact form 7
 */
.wpcf7 {
	.wpcf7-form-control-wrap {
		display: block;
	}
	.wpcf7-submit {
		min-width: 0;
	}
	.wpcf7-list-item {
		display: block;
	}
	.wpcf7-checkbox,
	.wpcf7-acceptance,
	.wpcf7-radio {
		input[type=checkbox],
		input[type=radio] {
			opacity: 0;
			position: absolute;
			z-index: 0;

			+ span {
				cursor: pointer;
				display: inline-block;
				padding: 0 0 0 rem(30);
				position: relative;

				&::before,
				&::after {
					content: '';
					display: block;
					position: absolute;
					transition: background .2s, border .2s, box-shadow .2s, color .2s;
				}
				&::before {
					background-color: $white;
					border: 1px solid $medium_gray;
					height: rem(20);
					left: 0;
					margin: 0 rem(10) 0 0;
					top: rem(2);
					width: rem(20);
					z-index: 1;
				}
				&::after {
					opacity: 0;
					z-index: 3;
				}
			}

			&:checked + span {
				&::before {
					background-color: $medium_gray;
					border-color: $medium_gray;
				}
				&::after {
					opacity: 1;
				}
			}
			&:hover,
			&:focus {
				& ~ span {
					&::before {
						box-shadow: 0 0 rem(5) 0 rgba(0, 0, 0, 0.25);
					}
				}
			}
			&:focus-visible {
				& ~ span {
					&::before {
						outline: 2px solid $black;
						outline-offset: 1px;
					}
				}
			}
		}
	}
	.wpcf7-checkbox,
	.wpcf7-acceptance {
		input[type=checkbox],
		input[type=radio] {
			+ span {
				&::before {
					border-radius: rem(2);
				}
				&::after {
					border-color: $white;
					border-style: solid;
					border-width: 0 rem(3) rem(3) 0;
					height: rem(14);
					left: rem(6);
					top: rem(3);
					transform: rotate(45deg);
					width: rem(8);
				}
			}
		}
	}
	.wpcf7-radio {
		input[type=checkbox],
		input[type=radio] {
			+ span {
				&::before,
				&::after {
					border-radius: 100%;
				}
				&::after {
					background-color: $light_gray;
					height: rem(10);
					left: rem(5);
					top: rem(7);
					width: rem(10);
				}
			}
		}
	}
	.wpcf7-acceptance {
		input[type=checkbox],
		input[type=radio] {
			+ span {
				font-size: $fontSize_small;
				line-height: 1.2;
				padding-top: rem(3);

				br {
					display: block !important;
				}
			}
		}
	}
	.wpcf7-spinner {
		align-items: center;
		background-color: rgba(255,255,255,.5);
		backdrop-filter: blur(1px);
		bottom: 0;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		height: auto;
		left: 0;
		margin: 0;
		opacity: 0;
		position: absolute;
		right: 0;
		top: 0;
		transition: all .2s;
		visibility: hidden;
		width: auto;
		z-index: 5;

		&::before {
			animation: spin 0.75s 0s infinite ease;
			animation-fill-mode: both;
			border-color: $black $black transparent $black;
			border-radius: 100%;
			border-style: solid;
			border-width: rem(3);
			content: '';
			display: inline-block;
			height: rem(36);
			margin: rem(3);
			width: rem(36);
		}

		&.is-active {
			opacity: 1;
			visibility: visible;
		}
	}
	.wpcf7-not-valid-tip {
		color: $error;
		display: block;
		font-size: $fontSize_xsmall;
		margin: rem(4) 0 0;
		min-height: rem(20);
		padding: rem(1) 0 0 rem(24);
		position: relative;

		&::before {
			background-color: $error;
			content: '';
			display: block;
			height: rem(18);
			left: 0;
			mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='512' height='512' style='enable-background:new 0 0 512 512'%3E%3Cpath d='M256 0C114.62 0 0 114.61 0 256s114.62 256 256 256 256-114.62 256-256S397.38 0 256 0zm105.67 361.67c-11.07 11.07-29.03 11.07-40.11 0L256 296.11l-65.56 65.56c-11.07 11.07-29.03 11.07-40.11 0-11.07-11.07-11.07-29.03 0-40.11L215.89 256l-65.56-65.56c-11.07-11.07-11.07-29.03 0-40.11 11.07-11.07 29.03-11.07 40.11 0L256 215.89l65.56-65.56c11.07-11.07 29.03-11.07 40.11 0 11.07 11.07 11.07 29.03 0 40.11L296.11 256l65.56 65.56c11.07 11.07 11.07 29.03 0 40.11z'/%3E%3C/svg%3E");
			mask-position: 0 0;
			mask-repeat: no-repeat;
			mask-size: contain;
			position: absolute;
			top: 0;
			width: rem(18);
			z-index: 1;
		}
	}
	.screen-reader-response {
		display: none;
	}
	.wpcf7-response-output {
		background-color: $white; // #F5F7FA, gray
		border-top: 4px solid $focus; // #4FC1E9, blue
		margin: $layout_blockGap 0 0;
		padding: $layout_padding $layout_padding $layout_padding calc(#{$layout_padding} + #{rem(30)});
		position: relative;

		&::before {
			background-color: $focus;
			content: '';
			display: block;
			height: rem(20);
			left: $layout_padding;
			mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='512' height='512' style='enable-background:new 0 0 512 512'%3E%3Cpath d='M256 0C114.62 0 0 114.62 0 256s114.62 256 256 256 256-114.62 256-256S397.38 0 256 0zm32.42 363.58A32.42 32.42 0 0 1 256 396a32.42 32.42 0 0 1-32.42-32.42V233.89A32.42 32.42 0 0 1 256 201.47a32.42 32.42 0 0 1 32.42 32.42zM256 180.84a32.42 32.42 0 1 1 32.42-32.42A32.41 32.41 0 0 1 256 180.84z'/%3E%3C/svg%3E");
			mask-position: 0 0;
			mask-repeat: no-repeat;
			mask-size: contain;
			position: absolute;
			top: calc(#{$layout_padding} - #{rem(1)});
			width: rem(20);
			z-index: 1;
		}
	}
	form {
		&.init .wpcf7-response-output,
		&.submitting .wpcf7-response-output {
			display: none;
		}
		&.submitting .wpcf7-spinner {
			opacity: 1;
			visibility: visible;
		}
		&.sent .wpcf7-response-output {
			border-top-color: $success; // #8CC152, green

			&::before {
				background-color: $success;
				mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='512' height='512' style='enable-background:new 0 0 512 512' viewBox='0 0 64 64'%3E%3Cpath d='M58.5 27.76c-.79-.73-1.68-1.57-1.85-2.2-.18-.69.16-1.85.5-2.96.5-1.67 1.06-3.55.18-5.07-.89-1.54-2.82-1.99-4.52-2.39-1.12-.26-2.28-.53-2.77-1.02s-.76-1.65-1.02-2.77c-.4-1.7-.85-3.63-2.39-4.52-1.52-.88-3.4-.32-5.06.18-1.12.34-2.28.68-2.97.5-.63-.17-1.47-1.06-2.2-1.85-1.21-1.29-2.58-2.75-4.4-2.75s-3.19 1.46-4.4 2.75c-.74.79-1.57 1.68-2.21 1.85-.69.18-1.84-.16-2.96-.5-1.66-.5-3.54-1.06-5.06-.18-1.54.89-1.99 2.82-2.39 4.52-.27 1.12-.54 2.28-1.02 2.77-.49.49-1.65.76-2.77 1.02-1.7.4-3.63.85-4.53 2.39-.87 1.52-.31 3.4.19 5.06.33 1.12.68 2.28.49 2.97-.17.63-1.06 1.47-1.84 2.2-1.29 1.21-2.75 2.58-2.75 4.4s1.46 3.19 2.75 4.4c.78.74 1.67 1.57 1.84 2.21.19.69-.16 1.84-.49 2.96-.5 1.66-1.06 3.54-.19 5.06.9 1.54 2.83 2 4.53 2.39 1.12.27 2.28.54 2.77 1.03s.75 1.64 1.02 2.76c.39 1.7.85 3.63 2.39 4.53 1.52.88 3.4.31 5.06-.19 1.12-.33 2.27-.68 2.96-.49.64.17 1.47 1.06 2.21 1.84 1.21 1.29 2.58 2.75 4.4 2.75s3.19-1.46 4.4-2.75c.73-.78 1.57-1.67 2.2-1.84.69-.19 1.85.16 2.97.49 1.66.5 3.54 1.06 5.06.19 1.54-.9 1.99-2.83 2.39-4.53.26-1.12.53-2.28 1.02-2.76.49-.49 1.65-.76 2.77-1.03 1.7-.39 3.63-.85 4.52-2.39.88-1.52.32-3.4-.18-5.06-.34-1.12-.68-2.27-.5-2.96.17-.64 1.06-1.47 1.85-2.21 1.29-1.21 2.75-2.58 2.75-4.4s-1.46-3.19-2.75-4.4zm-8.85-4.66L28.58 45.69c-.24.25-.57.4-.92.4-.35-.01-.69-.16-.92-.42L14.33 31.79a2.932 2.932 0 0 1 4.15-4.13l9.21 8.3 17.86-16.93a2.886 2.886 0 0 1 4.04.05 2.9 2.9 0 0 1 .07 4.02z'/%3E%3C/svg%3E");
			}
		}
		&.failed .wpcf7-response-output,
		&.aborted .wpcf7-response-output {
			border-top-color: $error; // #ED5565, red

			&::before {
				background-color: $error;
				mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='512' height='512' style='enable-background:new 0 0 512 512'%3E%3Cpath d='M256 0C114.62 0 0 114.61 0 256s114.62 256 256 256 256-114.62 256-256S397.38 0 256 0zm105.67 361.67c-11.07 11.07-29.03 11.07-40.11 0L256 296.11l-65.56 65.56c-11.07 11.07-29.03 11.07-40.11 0-11.07-11.07-11.07-29.03 0-40.11L215.89 256l-65.56-65.56c-11.07-11.07-11.07-29.03 0-40.11 11.07-11.07 29.03-11.07 40.11 0L256 215.89l65.56-65.56c11.07-11.07 29.03-11.07 40.11 0 11.07 11.07 11.07 29.03 0 40.11L296.11 256l65.56 65.56c11.07 11.07 11.07 29.03 0 40.11z'/%3E%3C/svg%3E");
			}
		}
		&.spam .wpcf7-response-output {
			border-top-color: #FC6E51; // #FC6E51, orange

			&::before {
				background-color: #FC6E51;
				mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='512' height='512' style='enable-background:new 0 0 512 512'%3E%3Cpath d='M501.362 383.95 320.497 51.474c-29.059-48.921-99.896-48.986-128.994 0L10.647 383.95c-29.706 49.989 6.259 113.291 64.482 113.291h361.736c58.174 0 94.203-63.251 64.497-113.291zM256 437.241c-16.538 0-30-13.462-30-30s13.462-30 30-30 30 13.462 30 30-13.462 30-30 30zm30-120c0 16.538-13.462 30-30 30s-30-13.462-30-30v-150c0-16.538 13.462-30 30-30s30 13.462 30 30v150z'/%3E%3C/svg%3E");
			}
		}
		&.invalid .wpcf7-response-output,
		&.unaccepted .wpcf7-response-output {
			border-top-color: #FFCE54; // #FFCE54, yellow

			&::before {
				background-color: #FFCE54;
				mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='512' height='512' style='enable-background:new 0 0 512 512'%3E%3Cpath d='M501.362 383.95 320.497 51.474c-29.059-48.921-99.896-48.986-128.994 0L10.647 383.95c-29.706 49.989 6.259 113.291 64.482 113.291h361.736c58.174 0 94.203-63.251 64.497-113.291zM256 437.241c-16.538 0-30-13.462-30-30s13.462-30 30-30 30 13.462 30 30-13.462 30-30 30zm30-120c0 16.538-13.462 30-30 30s-30-13.462-30-30v-150c0-16.538 13.462-30 30-30s30 13.462 30 30v150z'/%3E%3C/svg%3E");
			}
		}
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}


/**
 * Custom fileupload
 */
 .custom-fileupload {
	$f: &;

	align-items: center;
	cursor: pointer;
	display: flex;
	flex-flow: row nowrap;
	position: relative;

	input[type=file] {
		bottom: 0;
		cursor: pointer;
		left: 0;
		opacity: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		z-index: 5;
	}

	&__input,
	&__button {
		pointer-events: none;
	}
	&__button {
		@extend %btn;
		background: $white;
		border-color: $black;
		color: $black;
	}
	&__input {
		color: $medium_gray;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		@include mediaMinWidth( xs ){
			margin-left: calc(#{$layout_padding} * 2);
		}
		@include mediaMaxWidth( xs ){
			margin-left: $layout_padding;
		}
	}

	&:hover {
		#{$f}__button {
			box-shadow: 0 0 rem(10) rgba($black, 0.2);
			text-decoration: underline;
		}
	}
	input[type=file]:focus ~ &__button {}
}


/**
 * Custom select
 */
 .custom-select {
	$s: &;

	color: $black;
	position: relative;

	&__title {
		background-color: $white;
		border: 1px solid $dark_gray;
		border-radius: rem(5);
		cursor: pointer;
		display: block;
		padding: rem(10) rem(49) rem(10) rem(19);
		position: relative;
		transition: border .2s, color .2s;
		width: 100%;
		z-index: 1;
		
		&::after {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='"+ encodecolor($dark_gray) +"' viewBox='0 0 492 492'%3E%3Cpath d='m484.13 124.99-16.11-16.23a26.72 26.72 0 0 0-19.04-7.86c-7.2 0-13.96 2.79-19.03 7.86L246.1 292.6 62.06 108.55c-5.07-5.06-11.82-7.85-19.03-7.85s-13.97 2.79-19.04 7.85L7.87 124.68a26.94 26.94 0 0 0 0 38.06l219.14 219.93c5.06 5.06 11.81 8.63 19.08 8.63h.09c7.2 0 13.96-3.57 19.02-8.63l218.93-219.33A27.18 27.18 0 0 0 492 144.1c0-7.2-2.8-14.06-7.87-19.12z'/%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-size: contain;
			content: '';
			display: block;
			filter: brightness(0);
			height: rem(15);
			margin-top: rem(2);
			opacity: 0.5;
			position: absolute;
			right: rem(20);
			top: 50%;
			transform: translateY(-50%);
			transition: filter .2s, opacity .2s;
			width: rem(15);
			z-index: 2;
		}
	}
	&__list {
		background: $white;
		border: 1px solid $dark_gray;
		border-radius: 0 0 rem(5) rem(5);
		border-top: none;
		left: 0;
		list-style: none;
		margin: 0;
		max-height: rem(162);
		opacity: 0;
		overflow-y: scroll;
		padding: 0;
		position: absolute;
		right: 0;
		top: 100%;
		transition: border .2s, opacity .2s;
		visibility: hidden;
		z-index: 10;
	}
	&__item {
		cursor: pointer;
		margin: 0;
		padding: rem(8) rem(19);
		transition: background .2s;

		a {
			color: $black;
			display: block;
			text-decoration: none;

			&:hover,
			&:focus {
				color: $black;
			}
		}

		&:hover,
		&:focus {
			background: $light_gray;
		}
	}


	&:hover,
	&:focus {
		#{$s}__title {
			border-color: $medium_gray;

			&::after {
				filter: none;
				opacity: 1;
			}
		}
		#{$s}__list {
			border-color: $medium_gray;
		}
	}
	&.is-active {
		#{$s}__title {
			border-bottom-color: transparent !important;
			border-radius: rem(5) rem(5) 0 0;
			// transition: color .2s;

			&::after {
				transform: translateY(-50%) rotate(180deg);
			}
		}
		#{$s}__list {
			opacity: 1;
			visibility: visible;
		}
	}

	+ select {
		display: none !important;
	}
}