/**
 * Fields
 */
.input,
[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea,
select {
	background-color: transparent;
	border: 1px solid $dark_gray;
	border-radius: 0;
	color: $black;
	display: block;
	font-size: 1rem;
	outline: none;
	padding: rem(12) rem(10);
	transition: color .2s;
	width: 100%;

	@include placeholder {
		color: $dark_gray;
	}

	&[multiple] {
		height: auto;
	}
	&[disabled], &.disabled {
		border-bottom-color: $medium_gray;
		cursor: default;
		pointer-events: none;
	}
}
select {
	appearance: none;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='"+ encodecolor($dark_gray) +"' viewBox='0 0 492 492'%3E%3Cpath d='m484.13 124.99-16.11-16.23a26.72 26.72 0 0 0-19.04-7.86c-7.2 0-13.96 2.79-19.03 7.86L246.1 292.6 62.06 108.55c-5.07-5.06-11.82-7.85-19.03-7.85s-13.97 2.79-19.04 7.85L7.87 124.68a26.94 26.94 0 0 0 0 38.06l219.14 219.93c5.06 5.06 11.81 8.63 19.08 8.63h.09c7.2 0 13.96-3.57 19.02-8.63l218.93-219.33A27.18 27.18 0 0 0 492 144.1c0-7.2-2.8-14.06-7.87-19.12z'/%3E%3C/svg%3E");
	background-position: calc(100% - #{rem(10)}) calc(50% + #{rem(2)});
	background-repeat: no-repeat;
	background-size: rem(15) rem(15);
	height: auto;
	padding-right: rem(30);

	&::-ms-expand {
		display: none;
	}
	&[multiple] {
		background-image: none;
	}
}
textarea {
	height: rem(170);
	resize: none;

	&[rows] {
		height: rem(170);
	}
}



/**
 * Form
 */
 .form {
	display: flex;
	flex-flow: row wrap;
	margin: 0 -$layout_padding;

	&__field {
		flex: 0 0 100%;
		max-width: 100%;
		padding: rem(10) $layout_padding;
		position: relative;

		br {
			display: none !important;
		}

		&--half {
			@include mediaMinWidth( sm ){
				flex: 0 0 50%;
				max-width: 50%;
			}
		}
		&--submit {
			margin-top: rem(15);
			padding: $layout_padding;
		}
	}
	&__space {
		flex: 0 0 100%;
		height: rem(50);
		max-width: 100%;

		@include mediaMaxWidth( sm ){
			height: rem(30);
		}
	}
	&__label {
		display: block;
		font-size: $fontSize_small;
		margin: 0 0 rem(5);
	}
	// &__file {
	//     $file: &;
		
	//     bottom: 0;
	//     cursor: pointer;
	//     left: 0;
	//     opacity: 0;
	//     position: absolute;
	//     right: 0;
	//     top: 0;
	//     width: 100%;
	//     z-index: 5;

	//     &,
	//     &-input,
	//     &-button {
	//         pointer-events: none;
	//     }
	//     &-wrap {
	//         cursor: pointer;
	//         display: flex;
	//         flex-flow: row nowrap;
	//         position: relative;

	//         @include mediaMaxWidth( xs ){
	//             flex-flow: row wrap;
	//         }

	//         &:hover,
	//         &:focus {
	//             #{$file}-button {
	//                     background-color: lighten($focus, 5.75);
	//                     color: $white;
	//             }
	//         }
	//         &:focus {
	//             #{$file}-button {
	//                     outline: 4px solid $focus;
	//             }
	//         }
	//         &:active {
	//             #{$file}-button {
	//                 @include mediaMinWidth( $mobileBreakpoint ){
	//                     &::after {
	//                         height: rem(116);
	//                         opacity: 1;
	//                         width: rem(116);
	//                     }
	//                 }
	//             }
	//         }
	//     }
	//     &-input,
	//     &-button {
	//         @include mediaMinWidth( xs ){
	//             flex: 0 0 calc(50% - #{$layout_padding});
	//             width: calc(50% - #{$layout_padding});
	//         }
	//         @include mediaMaxWidth( xs ){
	//             flex: 0 0 100%;
	//             width: 100%;
	//         }
	//     }
	//     &-input {
	//         overflow: hidden;
	//         text-overflow: ellipsis;
	//         white-space: nowrap;

	//         @include mediaMinWidth( xs ){
	//             margin-right: $layout_padding*2;
	//         }
	//         @include mediaMaxWidth( xs ){
	//             margin: 0 0 rem(20);
	//         }
	//     }
	//     &-button {
	//         min-width: 0;
	//     }

	//     &:focus ~ &-button {
	//             background-color: lighten($focus, 5.75);
	//             color: $white;
	//             outline: 4px solid $focus;
	//     }
	// }
}

/**
 * Contact form 7
 */
.wpcf7 {
	.wpcf7-form-control-wrap {
		display: block;
	}
	.wpcf7-submit {
		min-width: 0;
		width: 100%;
	}
	.wpcf7-list-item {
		display: block;
	}
	.wpcf7-checkbox,
	.wpcf7-acceptance,
	.wpcf7-radio {
		input[type=checkbox],
		input[type=radio] {
			display: none;

			+ span {
				cursor: pointer;
				display: inline-block;
				padding: 0 0 0 rem(30);
				position: relative;

				&::before,
				&::after {
					content: '';
					display: block;
					position: absolute;
					transition: all .2s;
				}
				&::before {
					background-color: $light_gray;
					height: rem(20);
					left: 0;
					margin: 0 rem(10) 0 0;
					top: rem(2);
					width: rem(20);
					z-index: 1;
				}
				&::after {
					opacity: 0;
					z-index: 3;
				}
				
				&:hover {
					&::before {
						background-color: $black;
					}
				}
			}

			&:checked + span {
				&::before {
					background-color: $black;
				}
				&::after {
					opacity: 1;
				}
			}
		}
	}
	.wpcf7-checkbox,
	.wpcf7-acceptance {
		input[type=checkbox],
		input[type=radio] {
			+ span {
				&::before {
					border-radius: rem(2);
				}
				&::after {
					border-color: $white;
					border-style: solid;
					border-width: 0 rem(3) rem(3) 0;
					height: rem(14);
					left: rem(6);
					top: rem(3);
					transform: rotate(45deg);
					width: rem(8);
				}
			}
		}
	}
	.wpcf7-radio {
		input[type=checkbox],
		input[type=radio] {
			+ span {
				&::before,
				&::after {
					border-radius: 100%;
				}
				&::after {
					background-color: $light_gray;
					height: rem(10);
					left: rem(5);
					top: rem(7);
					width: rem(10);
				}
			}
		}
	}
	.wpcf7-acceptance {
		input[type=checkbox],
		input[type=radio] {
			+ span {
				font-size: $fontSize_xsmall;
				padding-top: rem(3);
			}
		}
	}
	.wpcf7-spinner {
		align-items: center;
		background-color: $focus;
		bottom: $layout_padding;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		height: auto;
		left: $layout_padding;
		margin: 0;
		opacity: 0;
		position: absolute;
		right: $layout_padding;
		top: $layout_padding;
		transition: all .2s;
		visibility: hidden;
		width: auto;
		z-index: 5;

		&::before {
			animation: spin 0.75s 0s infinite ease;
			animation-fill-mode: both;
			border-color: $white $white transparent $white;
			border-radius: 100%;
			border-style: solid;
			border-width: 2px;
			content: '';
			display: inline-block;
			height: rem(26);
			margin: rem(2);
			width: rem(26);
		}

		&.is-active {
			opacity: 1;
			visibility: visible;
		}
	}
	.wpcf7-not-valid-tip {
		color: $error;
		display: block;
		font-size: $fontSize_xsmall;
		margin-top: rem(2);
		padding-left: rem(20);
		position: relative;

		&::before,
		&::after {
			display: block;
			position: absolute;
		}
		&::before {
			border-color: transparent transparent $error transparent;
			border-radius: rem(2);
			border-style: solid;
			border-width: rem(11) rem(7);
			content: '';
			left: 0;
			top: rem(-7);

			@include mediaMaxWidth( md ){
				top: rem(-10);
			}
		}
		&::after {
			color: $white;
			content: '!';
			font-size: rem(8);
			font-weight: 700;
			left: rem(6);
			top: rem(4);

			@include mediaMaxWidth( md ){
				top: rem(1);
			}
		}
	}
	.screen-reader-response {
		display: none !important;
	}
	.wpcf7-response-output {
		background-color: $light_gray; // #F5F7FA, gray
		border-top: 4px solid $focus; // #4FC1E9, blue
		margin: rem(15) 0 0;
		padding: $layout_padding $layout_padding $layout_padding calc(#{$layout_padding} * 2 + #{rem(20)});
		position: relative;

		&::before {
			background-color: $focus;
			border-radius: 100%;
			content: 'i';
			color: $white;
			display: inline-block;
			font-size: rem(14);
			font-weight: 700;
			left: $layout_padding;
			line-height: (20/14);
			text-align: center;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: rem(20);
		}
	}
	form {
		&.init .wpcf7-response-output,
		&.submitting .wpcf7-response-output {
			display: none;
		}
		&.submitting .wpcf7-spinner {
			opacity: 1;
			visibility: visible;
		}
		&.sent .wpcf7-response-output {
			border-top-color: $success; // #8CC152, green

			&::before {
				background-color: $success;
				content: '✓';
			}
		}
		&.failed .wpcf7-response-output,
		&.aborted .wpcf7-response-output {
			border-top-color: $error; // #ED5565, red

			&::before {
				background-color: $error;
				content: '✕';
			}
		}
		&.spam .wpcf7-response-output {
			border-top-color: #FC6E51; // #FC6E51, orange

			&::before {
				background-color: #FC6E51;
				content: '!';
			}
		}
		&.invalid .wpcf7-response-output,
		&.unaccepted .wpcf7-response-output {
			border-top-color: #FFCE54; // #FFCE54, yellow

			&::before {
				background-color: #FFCE54;
				content: '!';
			}
		}
	}
}


/**
 * Custom fileupload
 */
 .custom-fileupload {
	$f: &;

	align-items: center;
	cursor: pointer;
	display: flex;
	flex-flow: row nowrap;
	position: relative;

	input[type=file] {
		bottom: 0;
		cursor: pointer;
		left: 0;
		opacity: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		z-index: 5;
	}

	&__input,
	&__button {
		pointer-events: none;
	}
	&__button {
		@extend %btn;
		background: $white;
		border-color: $black;
		color: $black;
	}
	&__input {
		color: $medium_gray;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		@include mediaMinWidth( xs ){
			margin-left: calc(#{$layout_padding} * 2);
		}
		@include mediaMaxWidth( xs ){
			margin-left: $layout_padding;
		}
	}

	&:hover {
		#{$f}__button {
			box-shadow: 0 0 rem(10) rgba($black, 0.2);
			text-decoration: underline;
		}
	}
	input[type=file]:focus ~ &__button {}
}


/**
 * Custom select
 */
 .custom-select {
	$s: &;

	color: $black;
	position: relative;

	&__title {
		background-color: $white;
		border: 1px solid $dark_gray;
		border-radius: rem(5);
		cursor: pointer;
		display: block;
		padding: rem(10) rem(49) rem(10) rem(19);
		position: relative;
		transition: border .2s, color .2s;
		width: 100%;
		z-index: 1;
		
		&::after {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='"+ encodecolor($dark_gray) +"' viewBox='0 0 492 492'%3E%3Cpath d='m484.13 124.99-16.11-16.23a26.72 26.72 0 0 0-19.04-7.86c-7.2 0-13.96 2.79-19.03 7.86L246.1 292.6 62.06 108.55c-5.07-5.06-11.82-7.85-19.03-7.85s-13.97 2.79-19.04 7.85L7.87 124.68a26.94 26.94 0 0 0 0 38.06l219.14 219.93c5.06 5.06 11.81 8.63 19.08 8.63h.09c7.2 0 13.96-3.57 19.02-8.63l218.93-219.33A27.18 27.18 0 0 0 492 144.1c0-7.2-2.8-14.06-7.87-19.12z'/%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-size: contain;
			content: '';
			display: block;
			filter: brightness(0);
			height: rem(15);
			margin-top: rem(2);
			opacity: 0.5;
			position: absolute;
			right: rem(20);
			top: 50%;
			transform: translateY(-50%);
			transition: filter .2s, opacity .2s;
			width: rem(15);
			z-index: 2;
		}
	}
	&__list {
		background: $white;
		border: 1px solid $dark_gray;
		border-radius: 0 0 rem(5) rem(5);
		border-top: none;
		left: 0;
		list-style: none;
		margin: 0;
		max-height: rem(162);
		opacity: 0;
		overflow-y: scroll;
		padding: 0;
		position: absolute;
		right: 0;
		top: 100%;
		transition: border .2s, opacity .2s;
		visibility: hidden;
		z-index: 10;
	}
	&__item {
		cursor: pointer;
		margin: 0;
		padding: rem(8) rem(19);
		transition: background .2s;

		a {
			color: $black;
			display: block;
			text-decoration: none;

			&:hover,
			&:focus {
				color: $black;
			}
		}

		&:hover,
		&:focus {
			background: $light_gray;
		}
	}


	&:hover,
	&:focus {
		#{$s}__title {
			border-color: $medium_gray;

			&::after {
				filter: none;
				opacity: 1;
			}
		}
		#{$s}__list {
			border-color: $medium_gray;
		}
	}
	&.is-active {
		#{$s}__title {
			border-bottom-color: transparent !important;
			border-radius: rem(5) rem(5) 0 0;
			// transition: color .2s;

			&::after {
				transform: translateY(-50%) rotate(180deg);
			}
		}
		#{$s}__list {
			opacity: 1;
			visibility: visible;
		}
	}

	+ select {
		display: none !important;
	}
}