/**
 * Pagination
 */

.pagination {
	margin: rem(60) 0 rem(15);

	.nav-links {
		justify-content: center;
		display: flex;
		flex-flow: row wrap;
		margin: 0 rem(-5);
	}
	.page-numbers {
		background: $light_gray;
		color: $black;
		display: inline-block;
		min-width: rem(35);
		margin: rem(2);
		padding: rem(5);
		text-align: center;
		text-decoration: none;
		transition: all .2s;

		&:hover,
		&:focus {
			color: $primary;
		}
		&.prev,
		&.next {
			padding: rem(5) rem(10);

			&.disabled {
				opacity: 0;
				visibility: hidden;
			}
		}
		&.prev {
			margin-right: auto;
		}
		&.next {
			margin-left: auto;
		}
		&.current {
			background: $black;
			color: $white;
			pointer-events: none;
		}
	}
}