/**
 * Social networks menu
 */

.social-networks-menu {
	$c: &;

	display: flex;
	flex-flow: row wrap;
	line-height: 1;
	list-style: none;
	margin: 0 rem(-16) rem(-16) 0;
	padding: 0;

	&__item {
		margin: 0 rem(16) rem(16) 0;
	}
	&__icon {
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: contain;
		color: inherit;
		display: block;
		height: rem(24);
		position: relative;
		width: rem(24);

		&--facebook {
			background-image: url('../../img/icons/icon-facebook.svg');
		}
		&--instagram {
			background-image: url('../../img/icons/icon-instagram.svg');
		}
		&--linkedin {
			background-image: url('../../img/icons/icon-linkedin.svg');
		}
		&--email {
			background-image: url('../../img/icons/icon-envelope.svg');
		}
			
		&:hover,
		&:focus {
			opacity: 0.7;
		}
	}

	// &--white {
	//     #{$c}__icon {
	//         &--facebook {
	//             background-image: url('../../img/icons/icon-facebook--white.svg');
	//         }
	//         &--instagram {
	//             background-image: url('../../img/icons/icon-instagram--white.svg');
	//         }
	//         &--linkedin {
	//             background-image: url('../../img/icons/icon-linkedin--white.svg');
	//         }
	//         &--email {
	//             background-image: url('../../img/icons/icon-envelope--white.svg');
	//         }
	//     }
	// }
}