/**
 * Social networks menu
 */

.social-networks-menu {
	$c: &;

	display: flex;
	flex-flow: row wrap;
	gap: $layout_padding $layout_padding;
	line-height: 1;
	list-style: none;
	margin: 0;
	padding: 0;

	&__icon {
		background: $red;
		mask-position: 50% 50%;
		mask-repeat: no-repeat;
		mask-size: contain;
		color: inherit;
		display: block;
		height: rem(24);
		position: relative;
		transition: background 0.2s;
		width: rem(24);

		&--email {
			mask-image: url('../img/icons/icon-envelope.svg');
		}
		&--facebook {
			mask-image: url('../img/icons/icon-facebook.svg');
		}
		&--instagram {
			mask-image: url('../img/icons/icon-instagram.svg');
		}
		&--linkedin {
			mask-image: url('../img/icons/icon-linkedin.svg');
		}
		&--twitter {
			mask-image: url('../img/icons/icon-twitter.svg');
		}
		&--youtube {
			mask-image: url('../img/icons/icon-youtube.svg');
		}
			
		&:hover,
		&:focus {
			background: $bright_red;
		}
	}
}