/**
 * Tabs
 */

.tabs {
	&__header {
		display: flex;
		flex-flow: row nowrap;

		@include mediaMaxWidth( md ){
			display: none !important;
		}
	}
	&__title {
		color: $medium_gray;
		flex: 0 1 auto;
		font-weight: 600;
		text-decoration: none;

		@include mediaMinWidth( md ){
			padding: rem(10) rem(20);
			text-align: center;

			&.is-active {
				background: $light_gray;
				color: $black;
				pointer-events: none;
			}
			&:hover {
				color: $dark_gray;
			}
		}
		@include mediaMaxWidth( md ){
			border-top: 1px solid $white;
			padding: rem(14) calc(#{$layout_padding} * 2 + #{rem(25)}) rem(14) calc(#{$layout_padding} * 2);
			position: relative;

			&::before,
			&::after {
				background: $medium_gray;
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}
			&::before {
				height: rem(2);
				right: calc(#{$layout_padding} * 2);
				width: rem(14);
			}
			&::after {
				height: rem(14);
				right: calc(#{$layout_padding} * 2 + #{rem(6)});
				width: rem(2);
			}

			&.is-active {
				color: $black;

				&::after {
					display: none;
				}
			}
		}
	}
	&__body {
		background: $light_gray;
		margin: 0 !important;

		> dt {
			margin: 0;

			@include mediaMinWidth( md ){
				display: none !important;
			}
		}
	}
	&__content {
		margin: 0 !important;
		
		@include mediaMinWidth( md ){
			padding: rem(35) rem(50);
		}
		@include mediaMaxWidth( md ){
			padding: rem(5) calc(#{$layout_padding} * 2) rem(15);
		}

		&:not(&.is-active){
			display: none;
		}
	}
}