/**
 * Site header
 */

.site-header {
    $h: &;

    background: $background;
    height: map-get($header_height, 'default');
    transition: background .2s, box-shadow .2s, top 0.1s;
    z-index: 100;
    
    @include mediaMaxWidth( $mobileBreakpoint ){
        height: map-get($header_height, $mobileBreakpoint);
    }

    &__container {
        align-items: center;
        background: inherit;
        flex-flow: row nowrap;
        height: inherit;
    }
    &__toggle {
        @include mediaMinWidth( $mobileBreakpoint ){
            display: none !important;
        }
        @include mediaBetween( xs, $mobileBreakpoint ){
            flex: 0 0 calc(50% - 100px);
            max-width: calc(50% - 100px);
        }
        @include mediaMaxWidth(xs){
            flex: 0 0 54px;
            max-width: 54px;
        }
    }
    &__logo {
        flex: 0 0 calc(#{map-get($header_logoWidth, 'default')} + $layout_padding * 2);
        max-width: calc(#{map-get($header_logoWidth, 'default')} + $layout_padding * 2);

        @include mediaMaxWidth( xs ){
            flex: 1 0 auto;
            max-width: calc(100% - 164px);
        }

        .logo {
            display: inline-block;
            
            &__image {
                width: map-get($header_logoWidth, 'default');

                @include mediaMaxWidth( xs ){
                    width: map-get($header_logoWidth, 'xs');
                }
            }
        }
    }
    &__menu {
        @include mediaMinWidth( $mobileBreakpoint ){
            height: inherit;
        }
        @include mediaMaxWidth( $mobileBreakpoint ){
            background: $background;
            left: 0;
            max-width: none;
            opacity: 0;
            position: absolute;
            right: 0;
            top: 100%;
            transform: translateY(-100%);
            transition: opacity 0s $header_menuTransition, transform $header_menuTransition ease-in-out, visibility 0s $header_menuTransition;
            visibility: hidden;
            z-index: -1;
        }
    }

    body.admin-bar & {
        top: 32px;

        @include mediaMaxWidth( 782 ){
            top: 46px;
        }
    }
	body.is-header-fixed & {
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
    }
    body.is-menu-active & {
        #{$h}__menu {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
            transition: transform $header_menuTransition ease-in-out;
        }
        .toggle {
            &::before {
                height: 4px;
                top: 50%;
                transform: translateY(-50%) rotate(45deg);
            }
            &::after {
                bottom: 50%;
                height: 4px;
                transform: translateY(50%) rotate(-45deg);
            }
            &__bar {
                left: 50%;
                width: 0;
            }
        }
    }
    body.is-scrolled & {
        @include mediaMaxWidth( 600 ){
            top: 0 !important;
        }
    }
}

.navbar-toggle {
    background: transparent;
    border: none;
    font-size: 0;
    height: 17px;
    position: relative;
    text-indent: -9999px;
    width: 24px;
    
    &::before,
    &::after,
    &__bar {
        background-color: $foreground;
        content: "";
        display: block;
        height: 3px;
        left: 0;
        position: absolute;
        transition: all .2s;
        width: 100%;
    }
    &::before {
        top: 0;
    }
    &::after {
        bottom: 0;
    }
    &__bar {
        top: 7px;
    }
}